<section class="jumbotron">
                <!-- place all blog posts here -->
                <article>
                    <div class="card">
                        {{blogs}}
                    </div>
                </article>
            </section>