<main class= "container">
    <section class="jumbotron">
        <article>
            <div  id="{{id}}" class="currentBlog card">
                <div class="card-header d-flex justify-content-between">
                    <h4 class="">Update your post</h4>
                <p class= "">Posted on {{format_date createdAt}}</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="Blog Title Field" class="form-label">Title</label>
                            <input
                                class="form-control new-blog-title"
                                id="blog-title"
                                value="{{blog_title}}"
                                aria-describedby="Title Field"
                            />
                            <div id="titleHelp" class="form-text">Requirements: 10 - 80 characters</div>
                        </div>
                        <div>
                            <label for="Blog body Field" class="form-label"
                                >Body</label
                            >
                            <textarea class="form-control new-blog-body" id="blog-body" >{{blog_body}}</textarea>
                        </div>
                        <div id="blogHelp" class="form-text mb-3">Requirements: 10 - 400 characters</div>
                        <button type="submit" class="update-post-btn btn btn-primary mr-3">
                            Update Post
                        </button>
                    </form>
                </div>
            </div>
        </article>
    </section>
</main>
{{> bootstrap-cdn}}
<script src="javascripts/updateBlog.js"></script>



