<section class="jumbotron">
    <article>
        <div class="card mb-3">
            <div>
                <h4>Edit Post</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="" class="form-label">Title</label>
                        <input
                            class="form-control"
                            id="updateTitle"
                            aria-describedby="Update Title"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"
                            >Content</label
                        >
                        <input class="form-control" id="updateBody" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Update Post
                    </button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </article>
</section>
